#fullbar {
  width: 100%;
  text-align: center;
  z-index: 1;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
  border: none;
}

.nav>li>a {
padding-top: 10px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: transparent;
  position:relative;
}

.navbar-inverse .navbar-nav>li>a {
color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
@@ -50,13 +61,15 @@ min-height: 100%;
}
