@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');


@font-face {
  font-family: glashou;
  font-style: normal;
  src: url(./glashou.ttf);
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar {
  width: 100%;
  text-align: center;
  z-index: 1;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  background-color: transparent;
  color: white;
  border: none;
}

ul .nav .navbar-nav {
  display: inline-block;
  color: white;
  background-color: orange;
}

ul li:hover {
  background-color: orange;
}


.Vidage__video {
position: absolute;
top: 50%;
left: 50%;
width: auto;
height: auto;
transform: translateX(-50%) translateY(-50%);
min-width: 100%;
min-height: 100%;
}

.Vidage__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1b1c1d;
  opacity: .4;
}

.container {
  padding-left: 1.2875rem;
  padding-right: 1.2875rem;
  margin-left: auto;
  margin-right: auto;
}

.center_content {
display: flex;
justify-content: center;
align-items: center;
min-height: 200px;
height: calc(100vh - 5rem);
flex-direction: column;
}

.container h1 {
  color: white;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.3em;
  font-weight: lighter;
  font-size: 6rem;
  display: block;
}

.container h2 {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.2em;
  color: white;
  text-align: center;
}

.col-md-6 {
  display: inline-block;
}

button {
  font-family: Roboto, sans-serif;
  border-style: solid;
  border-width: 0.5px;
  background-color: transparent;
  color: white;
  opacity: 50%;
  text-align: center;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:hover {
    background: orange;
}


.bottombar {
/* position: relative; */
width: 100%;

}
