@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');


@font-face {
  font-family: glashou;
  font-style: normal;
  src: url(./glashou.ttf);
}

body {
overflow-x:hidden;

}

#fullbar {
  width: 100%;
  text-align: center;
  z-index: 1;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  background-color: transparent;
  color: white;
  border: none;
}

.navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover {
  background-color: transparent;
}

.navbar-nav>li>a:hover {
  background-color: #CD573F;
}

.navbar-header {
  border-bottom: none;
}

.navbar-toggle {
  border-color: transparent;
}

/* a:hover {
  display: inline-block;
  color: white;
  background-color: #CD573F;
} */

.navbar-collapse.collapse.in {
  border-top: none;
}

.navbar-toggle:focus, .navbar-toggle:hover {
  background-color: #CD573F;
}

.vidage::before {
background-image: none;}

.Vidage__video {
position: absolute;
top: 50%;
left: 50%;
width: auto;
height: auto;
transform: translateX(-50%) translateY(-50%);
/* width: 100vw;
min-height: 100vh; */
opacity: 0.7;
background-size: cover;
overflow: hidden;
}

.Vidage__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -20%;
  left: 0;
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.6 !important;

  background-size: cover;
  overflow: hidden;
}

.container {
  padding-left: 1.2875rem;
  padding-right: 1.2875rem;
  margin-left: auto;
  margin-right: auto;
}

.anchor1, .anchor2, .anchor3, .anchor4 {
  display: block;
  height: 56px; /*same height as header*/
  margin-top: -56px; /*same height as header*/
  visibility: hidden;
}

.slider {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  /* scroll-padding: 50%; */
  -webkit-overflow-scrolling: touch;

}

.slide {
  width: 100vw;
  flex-shrink: 0;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  z-index: 100;
}

.slide > div:target {
  transform: scale(0.8);
}

.center_content {
display: flex;
justify-content: center;
align-items: center;
min-height: 200px;
height: calc(100vh - 5rem)
flex-direction: column;
padding-top: 50px;
padding-left: 10px;
padding-right: 10px;
/* margin: 0 auto; */
}

.intro-section {
  margin-top: 60px;
  margin-bottom: 20px;
}

 h1 {
  color: white;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.3em;
  font-weight: lighter;
  font-size: 5rem;
  display: block;
  text-align: center;
  width: 100%;
}

@media screen and (max-width:600px){
  h1 {
    font-size: 3rem;
  }
}

 h2 {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.2em;
  color: white;
  text-align: center;
}

.homebuttons {
  display: flex;
  margin-top:50px;
}

.homebox {
  border-width: 1px;
  border-color: white;
  font-family: Roboto, sans-serif;
  background-color: transparent;
  color: white;
  opacity: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 0 auto;
}

.homebox:hover {
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-left: 10px;
  padding-right: 10px;
}

button {
  color: white;
  background-color: transparent;
  border: none;
}

button.abutton {
  background-color: transparent;
}

button, input, optgroup, select, textarea {
  background-color: transparent, !important;
}

a, a:hover {
  text-decoration: none;
  color: white;
}

a:-webkit-any-link {
  text-decoration: none;
}

.homebox:hover {
  color: white;
  text-decoration: none;
}

.bottombar {
/* position: relative; */
width: 100%;

}

.projects-header {
  margin: 30px 20px 80px 20px;
}

.padding-0 {
    padding-right:0;
    padding-left:15px;
}

.card {
  /* background:rgba(255,255,255, 0.2); */
  background: rgba(46, 49, 49, 0.2);
  margin-bottom: 10px;
}

.card-img-top {
  width:100%;
  height: auto;
}

.card:hover {
    background: rgba(46, 49, 49, 0.5);
}

.card-title{
  font-size: 16px;
  color: white;
}

p.card-text {
  font-size: 12px;
  color: white;
}

#myCarousel {
  width: auto;
  height: auto;
}

.item.active {
  margin: auto;
  border-bottom: none;
}

.carousel-inner img {
  width: auto;
  height: auto;
  border-bottom: none;
  margin: auto;
}

.carousel-inner .project_title {
  color: #db8a27;
}

.project_link {
  text-decoration: underline;
  background: linear-gradient(to right, #dc2424, #4a569d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 200px;
  padding: 10px;
  text-align: center;
}

.carousel-indicators {
  text-align: center;
  /* margin-left: 50%; */
  width: auto;
  position: unset;
  margin-left: unset;

}

.modal-footer {
  border-top: none;
  text-align: center;
}

button.btn.btn-default {
  background: transparent;
  color: white;

}

.centered {
color: white;
margin-top:10%;
}

.links {
  font-size: 80px;
  color: white;
  width: 100%;
  padding: 10px;
}

.links a {
  color: white;
}
